/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_opacity.scss */
.opacity-5 {
  opacity: 0.5;
}
/* line 5, ../sass/partials/_opacity.scss */
.opacity-6 {
  opacity: 0.6;
}
/* line 8, ../sass/partials/_opacity.scss */
.opacity-7 {
  opacity: 0.7;
}
/* line 11, ../sass/partials/_opacity.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 14, ../sass/partials/_opacity.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 2, ../sass/partials/_modules.scss */
.index-s4 {
  background-color: #999 !important;
  background-blend-mode: multiply !important;
}

/* line 8, ../sass/partials/_modules.scss */
.menu-s3 {
  background-color: #999 !important;
  background-blend-mode: multiply !important;
}

/* line 14, ../sass/partials/_modules.scss */
.story-s2, .story-s4 {
  background-color: #999 !important;
  background-blend-mode: multiply !important;
}

/* line 20, ../sass/partials/_modules.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}

/* line 24, ../sass/partials/_modules.scss */
nav {
  z-index: 10;
}

/* line 27, ../sass/partials/_modules.scss */
textarea {
  resize: none;
}

@media all and (max-width: 767px) {
  /* line 33, ../sass/partials/_modules.scss */
  .contact-s2 {
    background-color: #999 !important;
    background-blend-mode: multiply !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 34, ../sass/partials/_modules.scss */
  .contact-s2 * {
    color: #fff !important;
  }

  /* line 43, ../sass/partials/_modules.scss */
  .index-s4 {
    background-color: #999 !important;
    background-blend-mode: multiply !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 44, ../sass/partials/_modules.scss */
  .index-s4 * {
    color: #fff !important;
  }

  /* line 53, ../sass/partials/_modules.scss */
  .mission-s2, .mission-s4 {
    background-color: #999 !important;
    background-blend-mode: multiply !important;
    text-shadow: 1px 1px 3px #333;
    background-position: right !important;
  }
  /* line 54, ../sass/partials/_modules.scss */
  .mission-s2 *, .mission-s4 * {
    color: #fff !important;
  }

  /* line 64, ../sass/partials/_modules.scss */
  .navbar-nav {
    background-color: #fff !important;
    border: 1px solid #666 !important;
    color: #333 !important;
    padding: 10px;
  }
  /* line 65, ../sass/partials/_modules.scss */
  .navbar-nav *:hover {
    opacity: 0.8;
  }
}
/* line 31, ../sass/partials/_mixins.scss */
.blog-s1 {
  background-attachment: scroll;
  background-image: url(../img/blog/blog-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.blog-s2 {
  background-attachment: scroll;
  background-image: url(../img/blog/blog-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.comingsoon-s1 {
  background-attachment: scroll;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s1 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s2 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s3 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.error-s1 {
  background-attachment: scroll;
  background-image: url(../img/error.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s1 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s2 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s3 {
  background-attachment: scroll;
  background-image: url();
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s4 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s4.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s5 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s5.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s6 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s6.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s7 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s7.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.mission-s1 {
  background-attachment: scroll;
  background-image: url(../img/mission/mission-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.mission-s2 {
  background-attachment: scroll;
  background-image: url(../img/mission/mission-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.mission-s3 {
  background-attachment: scroll;
  background-image: url(../img/mission/mission-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.mission-s4 {
  background-attachment: scroll;
  background-image: url(../img/mission/mission-s4.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.mission-s5 {
  background-attachment: scroll;
  background-image: url(../img/mission/mission-s5.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.privacy-s1 {
  background-attachment: scroll;
  background-image: url(../img/privacy.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.schedule-s1 {
  background-attachment: scroll;
  background-image: url(../img/schedule/schedule-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.schedule-s2 {
  background-attachment: scroll;
  background-image: url(../img/schedule/schedule-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 4, ../sass/partials/_modules_init.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}
