.index{
    &-s4{
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}
.menu{
    &-s3{
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}
.story{
    &-s2,&-s4{
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}
.text{
    &-shadow{
        text-shadow: $text-shadow;
    }
}
nav{
    z-index: 10;
}
textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .contact{
       &-s2{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
        }
    }
    .index{
        &-s4{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
        }
    }
    .mission{
        &-s2,&-s4{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
            background-position: right!important;
        }
    }
    .navbar{
        &-nav{
            *:hover{
                opacity: 0.8;
            }
            background-color: #fff!important;
            border: 1px solid #666!important;
            color: #333!important;
            padding: 10px;
        }
    }
}