$prefix: "../img/";
$bg__blog-img: 
    $prefix+"blog/blog-s1.jpg",
    $prefix+"blog/blog-s2.jpg";
$bg__comingsoon-img: "../img/coming.jpg";
$bg__contact-img: 
    $prefix+"contact/contact-s1.jpg",
    $prefix+"contact/contact-s2.jpg",
    $prefix+"contact/contact-s3.jpg";
$bg__error-img: "../img/error.jpg";
$bg__index-img: 
    $prefix+"index/index-s1.jpg",
    $prefix+"index/index-s2.jpg",
    "",
    $prefix+"index/index-s4.jpg",
    $prefix+"index/index-s5.jpg",
    $prefix+"index/index-s6.jpg",
    $prefix+"index/index-s7.jpg";
$bg__mission-img: 
    $prefix+"mission/mission-s1.jpg",
    $prefix+"mission/mission-s2.jpg",
    $prefix+"mission/mission-s3.jpg",
    $prefix+"mission/mission-s4.jpg",
    $prefix+"mission/mission-s5.jpg";
$bg__privacy-img: "../img/privacy.jpg";
$bg__schedule-img: 
    $prefix+"schedule/schedule-s1.jpg",
    $prefix+"schedule/schedule-s2.jpg";
$bg__classes:
    "blog",
    "comingsoon",
    "contact",
    "error",
    "index",
    "mission",
    "privacy",
    "schedule";
$bg__aoa:
    $bg__blog-img,
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__mission-img,
    $bg__privacy-img,
    $bg__schedule-img;
$color__shadow: #333;
$text-shadow: 1px 1px 3px $color__shadow; 